.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App body {
  margin: 0 !important;
  display: block !important;
  overflow: auto !important; /* override index.html overflow: hidden */
  background-color: #fffcf0 !important; /* match chart bg */
  min-height: auto !important;
}

/* Override global body styles when viewing the waterfall route */
body.waterfall-page {
  margin: 0 !important;
  display: block !important;
  overflow: auto !important; /* override index.html overflow: hidden */
  background-color: #fffcf0 !important; /* match chart bg */
  min-height: auto !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


